@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: poppins;
    background-color: #0b5394;
    background-image: url(./images/images.jfif);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0; /* Start with the body hidden */
    animation: fadeIn 1.5s ease-in-out 0.8s forwards;
}

/* Header styles */
header {
    width: 100%;
    background-color: #032a4d;
    backdrop-filter: opacity(1);
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Ensures responsiveness */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profileName {
    font-size: 1.1rem;
    max-width: 60%; /* Adjust width for responsiveness */
    a{
        color: #ffff;
        text-decoration: none;
        font-family: pacifico;
    }
}
.profileName h1{
    text-transform: uppercase;
    color: #186bb6;
    font-family: poppins;
    padding: 0;
}
.profileName span{
    color: #186bb6;
    font-size:28px;
    font-family: Josefin sans;
}
.profileName p{
    font-family: Josefin sans;
}
address{
    font-size: 18px;
    padding: 10px 0;
}

.profileImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.profileImage img:hover {
    transform: scale(1.11);
}

nav {
    padding: 16px;
    width: 180px;
    position: sticky;
    top: -50em; /* Stick to the top of the viewport */
    transform: translateX(50px);
    transform: translateY(-120px);
    right: 0; /* Align to the right side */
    margin-left: auto; /* Push nav to the right */
    z-index: 1000;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    color: #186bb6; /* Text color for navigation items */
}

nav ul li {
    margin-bottom: 8px;
    font-size: 20px;
    padding: 10px 10px 10px 24px;
    backdrop-filter: blur(50px);
    border-bottom-left-radius: 150px;
}

nav ul li a {
    text-decoration: none;
    color: #186bb6; /* Text color for navigation items */
    font-family: 'Josefin Sans', sans-serif;
}

nav ul li a {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

/* Main content styles */
main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    background-color: #fff;
    max-width: 95%;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 20px;
    transform: translateY(1.4); /* Initialize transform */
    transition: 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    padding: 60px;
    animation: slideIn .8s ease-in-out forwards;
}
 .info {
    display: flex;
    justify-content: space-between;
}
#bio{
    margin-top: -140px;
}
#bio ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#bio ul li {
    padding: 8px;
    font-size: 16px;
}

section h2{
    text-transform: uppercase;
    margin-bottom: 8px;

} 
section p{
    padding: 18px;
}
section ul li{
    padding: 16px;
}
section:hover {
    transition: .8s ease-in-out, opacity .3s ease-in-out;
    transform: translateY(1.5); /* Add hover scale effect */
}
section .school{
    font-size: 22px;

}

.about{
    margin-top: -130px;
}

/* Footer styles */
footer {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: #fff;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        right: 0; /* Align to the right side */
        margin-top: -150px;
        transform: translateY(-330em);
        transform: translateX(-10px);
        width: 150px;
        overflow: hidden;
        padding: 16px;
    }
    .about{
        margin-top: -5px;
    }
    nav ul li {
        position: sticky;
        margin-bottom: 8px;
        font-size: 22px;
        padding: 0 10px 15px 28px;
        backdrop-filter: blur(50px);
    }
    .home{
        margin-bottom: 50px;
    }
    
    #bio{
        margin-top: -5px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 20px;
    }
    section{
        justify-content: stretch;
        width: 100%;
        padding: 50px;
    }

    .profileName {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .profileImage img {
        width: 150px;
        height: 150px;
    }

    section {
        padding: 15px;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
  
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    nav {
        position: sticky;
        right: 0; /* Align to the right side */
        width: 90px;
        overflow: hidden;
        padding: 16px;
        transform: translateY(-70px);
    }
    nav ul li {
        top: 200em;
        transform: translateY(60px);
        transform: translateX(-58px);
        font-size: 20px;
        padding: 0 6px 6px 18px;
        backdrop-filter: blur(50px);
        letter-spacing: 2px;
        width: 130px;
    }
    

    .profileName {
        font-size: .8rem;
        h1{
            font-size: 30px;
        }
        p{
            font-size: 19px;
            min-width: 80%;
        }
        a{
            color: #ffff;
            text-decoration: none;

        }
    }
   

    .profileImage img {
        width: 150px;
        height: 150px;
    }
}
